@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand {
    font-family: "Quicksand", serif;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", serif;
    font-style: normal;
}

/* shared styles */
.flex {
    display: flex;
}
.org-color {
    color: #FEA301;
}
.blu-color {
    color: #01ACFD;
}
.pink-color {
    color: #5D58EF;
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
/* navbar style */
.navbar {
    justify-content: space-around;
    align-items: center;
    padding: 10px 16px;
    margin: 0 auto;
}

.nav-logo {
    align-items: center;
}

.nav-title {
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
    margin-left: 10px;
}

.nav-links li {
    list-style: none;
    margin-left: 32px;
}

.nav-links li>a {
    text-decoration: none;
}

#nav-facilities {
    color: #05D4DF;
}

.nav-btn {
    padding: 10px 30px;
    border: none;
    border-radius: 12px;
    width: 197px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    background-color: #FEA301;
    cursor: pointer;
}

marquee {
    color: tomato;
    font-size: 25px;
    font-weight: 500;
}

/* banner styles */
.banner {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    gap: 24px;
}

.banner-content {
    max-width: 550px;
    height: 20rem;

}

.banner-text {
    font-size: 1.25rem;
    font-weight: 400;
    color: #111111;
}

.banner-title {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 8px;
}

.banner-btn {
    padding: 10px 30px;
    border: none;
    border-radius: 12px;
    width: 197px;
    height: 50px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 400;
    background-color: #111111;
    cursor: pointer;
}

/* standerd curiculum */
.standard-curriculum {
    margin-top: 50px;
    height: 879px;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: rgba(250, 235, 215, 0.385);
    background-image: url(../assets/bg.png);
}

.section-title {
    color: rgb(0, 0, 0);
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 80px;
    text-align: center;
}

.cards-div {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    width: 350px;
    height: 400px;
    text-align: center;
    padding: 2.25rem;
}

.card-title {
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    font-weight: 700;
}

.card-text {
    color: rgb(128, 128, 128);
    font-size: 15px;
    font-weight: 400;
}

.read-more {
    font-size: 15.09px;
    font-weight: 700;
    margin-top: 55px;
}
.read-more a {
    text-decoration: none;
}
.bg-blu-gredient {
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
.bg-org-gredient {
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
.bg-pnk-gredient {
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
.btn-container {
    margin-top: 80px;
    margin-bottom: 60px;
    justify-content: center;
    display: flex;
    gap: 20px;
}
.circle-button {
    width: 60px;
    height: 60px;
    background-color: #FFA500;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
/* Our story styles */
.story-section {
    width: 0 auto;
    height: 1018.02px;
    background-image: url(../assets/bg.png), linear-gradient(rgba(242, 241, 238, 0.81), bisque );
}
.div-card{
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.story-card-1 {
    width: 500px;
    height: 600px;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.story-card-1 img {
    border-radius: 16px 16px 0 0;
    width: 100%;
}
.card-content{
    padding: 20px;
}
.date {
    color: #FFFFFF;
    padding: 8px;
    width: 174.51px;
    height: 47.93px;
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    text-align: center;
    position: relative;
    bottom: 235px;
    left: 30px;
}
.grid-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.story-card {
    width: 17rem;
    height: 290px;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.story-card img {
    border-radius: 16px 16px 0 0;
    width: 100%;
}
.dates {
    padding: 3px;
    color: #FFFFFF;
    width: 179px;
    height: 48px;
    border-radius: 47px;
    background: #95B226;
    text-align: center;
    position: relative;
    bottom: 130px;
    left: 30px;
}
#pink-dates{
    background-color: #5D58EF;
}
.story-btn{
    display: block;
    margin: 80px auto;
}

@media screen and (min-width:577px) {
    .menu-bar {
        display: none;
    }

}

@media only screen and (max-width: 576px) {

    .nav-links,
    .nav-btn, 
    .story-card-1 {
        display: none;
    }

    .navbar {
        padding: 8px;
        margin: 10px;
        border-bottom: 0.5px solid rgb(254, 163, 1);
    }

    .banner {
        flex-direction: column-reverse;
        padding: 0;
        text-align: center;
    }

    .banner-content {
        width: 357px;
        height: 252px;
    }

    .cards-div {
        flex-direction: column;
    }

    .standard-curriculum {
        margin-top: 350px;
    }

    .btn-container {
        margin-top: 10px;
    }
    .story-section{
        margin-top: 950px;
        padding: 20px;
    }
    .grid-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}